name: Node test (externals)

on:
  workflow_dispatch:

jobs:
  node-test:
    runs-on: self-hosted

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: |
          node -v
          npm -v
          which node
