name: Node test (externals)

on:
  workflow_dispatch:

jobs:
  node-test:
    runs-on: self-hosted

    steps:
      - name: Check node
        run: |
          node -v
          npm -v
          which node
